summary::-webkit-details-marker{
    display: none;
}
.accordion-list{
    margin: 1rem 6rem;
    padding: 1rem;
    border: 3px solid #76C1F1;
    border-radius: 20px;

    .accordion-list-summary::marker{
        display: none;
    }
    .accordion-list-span{
        padding: 1rem;
        background-color: #76C1F1;
        border-radius: 20px;
    }
    .accordion-list-border{
        margin-bottom: 5px;
        display: flex;
        border: 1px solid #76C1F1;
        border-radius: 20px;
    }
    .accordion-list-main{
        margin: 2rem 2rem 0;
        .accordion-list-main-name{
            margin: 0.5rem;
            text-decoration: underline dotted #76C1F1;
        }
        .accordion-list-main-content{
            margin: 0.5rem 2.5rem;
        }
    }
}
.accordion-list-top{
    margin-top: 2rem;
}