// ミックスイン: ボーダーボックスを適用
@mixin box-sizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  // ミックスイン: フレックスボックスセンタリング
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  