a{
    text-decoration: none;
}
.wait-benchmark{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.wait-button-background{
    position: relative;
    background-color: #A8E792;
    top: 40;
    left: 40;
}